/* assigns font family to all webpage */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    width: 100vw;
    display: block;
    margin: 30px 20px;
}

header {
    margin: 0 auto;
    width: 90%;
    height: fit-content;
}

/* makes header content flex elements positioned in a row */
header ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 50%;
}
header li {
    margin: 10px 0;
}

/* makes the remaining webpage objects flexboxes, centered on the page horizontally */
main {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1, h2 {
    margin: 10px 0px;
    text-align: center; 
    width: 100%;
    line-height: 15px;
}

h1 {
    font-size: 30px;
    line-height: 30px;
}

h2 {
    font-size: medium;
}

#instructions {
    padding: 10px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.start-button {
    width: 30%;
    height: 50px;
    margin: 0 auto;
}

.answer-options { 
    display:none;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center; 
}


.answers {
    text-align: center;
    padding: 5px;
    width: 100%;
}
/* when hovering over answer options, they darken so the user knows which one they are about to click */
.answers:hover {
    filter: brightness(75%);
}
/* at the start, the score submission is hidden */
.submit-score {
    display:none;
}



